.movie-search {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

input[type='search'] {
    width: 80%;
    padding: 10px;
    margin: 20px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.three-dots-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.dot {
    width: 12px;
    height: 12px;
    margin: 0 4px;
    border-radius: 50%;
    background-color: #3498db;
    animation: bounce 1.4s infinite ease-in-out both;
}

.dot:nth-child(1) {
    animation-delay: -0.32s;
}

.dot:nth-child(2) {
    animation-delay: -0.16s;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}


.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.movie-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 16px;
}

.movie-image {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 16px;
}

.movie-title {
    font-size: 18px;
    font-weight: bold;
    margin: 8px 0;
}

.movie-description {
    font-size: 14px;
    color: #555;
}